<h1>Add A Song</h1>
<%= form_for [@album, @song] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>
  <br />
  <%= f.label :length %>
  <%= f.text_field :length, required: true %>
  <br />
  <%= f.submit %>
<% end %>